.dropdown-menu {
}

.dropdown-menu .dropdown-content {
    display: block;
    position: absolute;
    background-color: #3e3c3c;
    z-index: 1;
}

.dropdown-menu .dropdown-button {
    display: block;
    background-color: #3e3c3c;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu.collapsed .dropdown-content {
    display: none;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
